*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100%;
    font-family: 'Roboto';
    font-size: 16px;
}
.header{
    border: 0px solid red;
    background-color: aliceblue;
    width: 100%;
    align-content: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-main{
    width: 80%;
    border: 0px solid rebeccapurple;
    display: flex;
    font-weight: bold;
}
.employee{
    color: rgb(32, 168, 32);
}
.menu{
    border: 0px solid gold;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.menu-content{
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
}
.employee-count{
    border: 0px solid red;
    background: rgb(75, 169, 75);
    border-radius: 40%;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 2px;
    margin-top: 2px;
}
.employee-details{
    font-size: 20px;
}
.add-button{
    border: 0px solid red;
    background: rgb(75, 169, 75);
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    width: 150px;
    height: 40px;
}
.add-button a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.add-button a img{
    width: 35px;
    height: 35px;
}
.add-user{
    font-size: 20px;
}
.table-main{
    width: 80%;
    margin: auto;
    overflow: auto;
    border: 0px solid rebeccapurple;
}
.table{
    width: 100%;
    border: 0px solid red;
    border-collapse: separate;
    border-spacing: 0px 15px;
    min-width: 800px;
}
td,th{
    border: 0px solid rebeccapurple;
    text-align: left;
    padding: 5px 8px;
}
th{
    background: rgb(44, 50, 79);
    color: white;
    border-radius: 3px;
    text-align: left;
    font-family: 'Roboto';
    text-transform: uppercase;
    opacity: 1;
    height: 50px;
}
tr:not(:first-child){
    background: white;
    border: 2px solid gray;
    border-radius: 3px;
}
.actions{
    display: table-cell;
    align-items: center;
}
td{
    color: #3d3d3d;
    opacity: 1;
}
td:first-child{
    display: flex;
    align-items: center;
}
td img:first-child{
    margin-right: 10px;
    border-radius: 100%;
}
td img{
    cursor: pointer;
}
.department{
    background: yellow;
    border-radius: 40px;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}